 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Circuit Breaker Health check</a>
          <div class="nav-collapse collapse">
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <!-- ko foreach: healthData -->
                <div class="span3 alert" data-bind="css: {'alert-danger': isError(), 'alert-success': isOk(), 'alert-warning': isWarning() }">
                    <h2 data-bind="text: systemName"></h2>
                    <p data-bind="text: stateMessage"></p>
                    <span data-bind="visible: isError() || isWarning()">
                        <p><b>Error method:&nbsp;</b><span data-bind="text: methodName"></span></p>
                        <p><b>Exception:&nbsp;</b><span data-bind="text: exceptionMessage"></span></p>
                    </span>
                </div><!--/span-->
                <!-- /ko -->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->
      <hr>
      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->